// Variables

// Gray and Brand Colors for use across theme

$one: #FB7A00;
$text-one: #15609A;
$two: #D80D9D;
$three: #1D3891;
$four: #00963F;
$white: #FFF;
$dark:  #000;


.white { color: $white;}
.dark { color: $dark;}







// Font Mixins

@font-face {
    font-family: 'Burbank';
    src: url('../fonts/Burbank/Burbank.otf');
    src: url('../fonts/Burbank/Burbank.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham.otf');
    src: url('../fonts/Gotham/Gotham.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VAGRoundedStd';
    src: url('../fonts/VAGRoundedStd/VAGRoundedStd-Light.otf');
    src: url('../fonts/VAGRoundedStd/VAGRoundedStd-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
// Titulos
@mixin serif-font {
    font-family: 'Burbank', serif;
}
// Cuerpo
@mixin serif-font {
    font-family: 'Gotham', serif;
}
// Cuerpo
@mixin serif-font {
    font-family: 'VAGRoundedStd', serif;
}
.Burbank {font-family: "Burbank", serif;}
.Gotham {font-family: 'Gotham', serif;}
.VAGRoundedStd {font-family: 'VAGRoundedStd', serif;}