@import "variables.scss";
#landing-rejugados {
    font-family: 'Burbank', serif;
    min-height: 800px;
    overflow: hidden;
    .form-control, .btn {
        border-radius: 0 !important;
    }
    .btn {
        background: #1660A9;
    }
    .noP {
        padding: 0 !important;
    }
    p {
        font-size: 14px;
        line-height: 1.75;
        font-family: 'Burbank', serif;
    }
    p.large {
        font-size: 16px;
    }
    a {
        font-family: 'Burbank', serif;
        &:hover,
        &:focus,
        &:active,
        .active {
            text-decoration: none;
            outline: none;
        }
    }
    h1 {
        font-size: 58px;
    }
    h2 {
        font-size: 50px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Burbank', serif;
    }
    .slider {
        .btn {
            width: 250px;
            position: absolute;
            z-index: 3000;
            right: 0;
            margin-top: -44px;
            height: 44px;
            font-size: 14px;
            padding: 10px;
            border: 0;
            font-family: 'Gotham';
            text-transform: uppercase;
            div {
                width: 30px;
                height: 30px;
                border-radius: 100%;
                border: 2px solid $white;
                position: absolute;
                right: 20px;
                top: 5px;
                padding: 3px;
            }
        }
        .banner {
            width: 100%;
            height: auto;
        }
        .banner4 {
            .btn {
                right: auto;
                left: 0;
            }
        }
        @media (max-width:480px) {
            .btn {
                position: relative;
                width: 100%;
                margin: 0;
            }
        }
    }
    .small-img {
        display: none;
    }
    .five {
        background: $dark;
        max-height: 280px;
        height: 280px;
    }
    .videos {
        background: #1D388F;
        max-height: 280px;
        height: 280px;
        h5 {
            color: $white;
            font-family: 'Gotham';
            cursor: pointer;
            margin-top: 20px;
        }
        .separate {
            border-right: 1px solid $white;
        }
        .video-responsive {
            position: relative;
            max-width: 380px;
            height: 200px;
            margin: 20px auto;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
        }
    }
    .low-size {
        display: none;
    }
    @media (max-width:768px) {
        h1 {
            font-size: 22px;
        }
        h2 {
            font-size: 20px;
        }
        h3 {
            font-size: 22px;
        }
        .normal {
            display: none;
        }
        .low-size {
            display: block;
        }
        .content {
            background: rgba(0, 0, 0, 0.4);
            padding: 0;
        }
        .space {
            display: none;
        }
        .five {
            max-height: auto !important;
            height: auto !important;
        }
    }
    @media (max-width:992px) {
        .five {
            max-height: 400px;
            height: auto;
        }
    }
    @media (max-width:580px) {
        .five {
            max-height: 230px;
            height: 230px;
        }
    }
    @media (max-width:430px) {
        .five {
            max-height: 200px;
            height: 200px;
        }
        .large {
            display: none;
        }
        .small-img {
            display: block;
            width: 580px;
        }
    }
}
